<footer>
  <!-- <ul class="menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">Plan my vacation</a></li>
    <li><a href="#">Group Planning</a></li>
    <li><a href="#">Offline Mode</a></li>
  </ul> -->
  <p class = "ubuntu-light" style="font-size: 14px; text-decoration: none;"> Icons from <a style="font-size: 14px; text-decoration: none; color: #0f766e" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
  <p class="copyright"> Made with ❤️ in CIT.</p>
</footer>
