<header class="navbar">
    <h2 class="product-name ubuntu-bold">
        <img id="product-logo" src="/images/compass.png" alt="Compass Logo"> Smart Explorer
    </h2>
    <nav class="nav-links">
        <a class="nav-item ubuntu-light" href="/plan">Plan my Vacation</a>
        <a class="nav-item ubuntu-light" href="/group">Group Planning</a>
        <a class="nav-item ubuntu-light" href="/offline">Offline Mode</a>
        <a class="nav-item ubuntu-light" href="/logout">Log Out</a>
    </nav>

</header>
