<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href ="./style.css" rel = "stylesheet">
    <title>Smart Explorer</title>
</head>
<body class="auth-page">
    <h2 class = "product-name ubuntu-bold"><img id = "product-logo" src="./images/compass.png"> Smart Explorer</h2>
    <p class = "ubuntu-light" style="text-align: center;">Plan your vacation with ease with our Agentic AI application</p>
    <div>
        <button type = "submit"><a href="/sign-up" style="color: white">Sign Up</a></button>
        <button type="submit"><a style ="color:white" href = "/log-in">Log In</a></button>
    </div>
</body>
</html>